.hero {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.gradient {
    background: rgb(4, 0, 64);
    background: radial-gradient(circle, rgba(4, 0, 64, 1) 32%, rgba(8, 63, 154, 1) 77%, rgba(17, 132, 156, 1) 94%);
    width: 100%;
    height: 100%;
    padding: 5em 0px;
}

.hero-title {
    background: -webkit-linear-gradient(#eee, #c27ffb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 3rem;
    font-weight: 800;

}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0 2rem 0;
}

.hero-link {
    text-decoration: none;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: .5em;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #222;
}
.hero-link:hover {
    color: white;
    background-color: #14455e;
  }

@media screen and (max-width: 600px){

    .hero-title {
        background: -webkit-linear-gradient(#eee, #c27ffb);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
        font-size: 3rem;
        font-weight: 700;
    
    }
    
    .hero-subtitle {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0.5rem 0 2rem 0;
    }
    
    .hero-link {
        text-decoration: none;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: .5em;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: .2rem;
        color: #222;
    
    }
    
}